


   body{background-image:url(digital5.png);
    opacity: 0,2;
       margin: 0%;
}

.container{
    display: grid;
   
   
    grid-template-rows:10vw 40vw 3vw;
    grid-template-columns:repeat(4,fr);
   
  
    
}

header{
   display: grid;
   grid-template-columns: repeat(6,160px);
  
   

gap: 40px; ;}
   
  
   
 #logo{height:40px ;
    padding: 20px;
            }

 input{
   background-color:transparent;
    border: none;
    font-size:20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    justify-items: center;
    outline: none;   
    color: #aae6f3;
   }

aside{display: grid;
    grid-template-columns: repeat(4,fr);
    gap: 50px;
    justify-items: center;color: rgb(82, 5, 31);

}
p{ grid-column: 2/4;
     height: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    font-size:50px;
    font-weight:bolder;
    color: #765773;
}
#avatar{opacity: 0.5;
    grid-column: 6/6;
    justify-items:end;
    height: 200px;
    width: 200px;
    
}

footer{ display: grid;  
    
grid-template-columns: repeat(7,100px); 

justify-content: center;
align-items: flex-end;
opacity: 0.5;


background-color: #0AE7FF;}

a{padding: 10%;
    justify-items: center;
   }
  


    


       